.msg-contact {
  margin: 0 auto 0 auto;
  display: flex;
  padding: 15px 0 15px 0;
  border: 1px solid black;
}

.msg-contact:hover {
  background-color: lightgray;
  cursor: pointer;
}

.msg-contact:active {
  background-color: gray;
}

.msg-contact > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-left {
  width: 15%;
}

.contact-last-message {
  overflow: hidden;
}

.contact-profile-picture {
  margin: auto;
}

.contact-name {
  font-size: large;
  font-weight: 600;
}
