ol {
  list-style-type: none;
  counter-reset: elementcounter;
  padding-left: 0;
}

li:before {
  content: "Step " counter(elementcounter) ". ";
  counter-increment: elementcounter;
  font-weight: bold;
}

.editable-list-textarea {
  width: 95%;
  resize: none;
}

.editable-list-add-button,
.edit-list-save-button {
  color: green;
}
.editable-list-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editable-list-div {
  width: 95%;
}

.editable-list-discard-button,
.editable-list-remove-button {
  color: red;
}

.editable-list-div-width {
  width: 21.8px;
}
