.explore-mini-post-container {
    border: 1px solid gainsboro;
    /*border-bottom: 1px solid gainsboro;*/
    display: flex;
    flex-direction: column;
}

.explore-mini-post-header {
    padding: 8px 8px 12px 8px;
}

.explore-mini-post-title {
    font-size: 16pt;
    font-weight: 600;
}

.explore-mini-post-author {
    font-size: 12pt;
}

.explore-mini-post-img {
    max-width: 360px;
    max-height: 360px;
    width: 100%;
    height: auto;
}

.explore-mini-post-footer {
    padding: 8px 8px 12px 8px;
}

.explore-mini-post-description {
    font-size: 11pt;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .explore-mini-post-container {
        border-bottom:  1px solid gainsboro;
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0 0 16px 0;
    }

    .explore-mini-post-img {
        max-width: none;
        max-height: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}