a {
    text-decoration: none;
}

a:hover {
    color: #196679;
    cursor: pointer;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

.post-container {
    border: 1px solid gainsboro;
    margin: 16px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*.post-container > div {
    border: 1px solid gray;
}*/

.post-header {
    padding: 8px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}

.post-header>div {
    display: flex;
}

.post-header-left {
    margin-left: 8px;
}

.post-header-center {
    flex-direction: column;
    margin-left: 12px;
}

.post-header-right {
    margin-left: auto;
    margin-right: 8px;
}

.dropdown-menu-button {
    background-color: transparent;
    border: none;
}

.post-recipe-title {
    font-size: large;
    font-weight: 600;
}

.post-author {
    font-size: small;
}

.post-body {
    border-bottom: 1px solid gainsboro;
}

.post-img-container {
    display: flex;
}

.post-img {
    width: 100%;
    height: auto;
}

.post-footer {
    padding: 16px;
    border-bottom: 1px solid gainsboro;
}

.post-actions>* {
    margin-right: 12px;
}

.post-likes {
    margin-top: 8px;
}

.post-description {
    margin-top: 8px;
}

.post-comments {
    margin-top: 8px;
}

.post-add-comment {
    padding: 8px 16px 8px 16px;
}

.add-comment-input {
    height: 32px;
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .post-container {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .post-container {
        width: 639px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .post-container {
        width: 639px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}