.profile-container {
    /*border: 1px solid gainsboro;*/
    margin: 16px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-info {
    padding: 8px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}

.profile-info>div {
    display: flex;
}

/*.profile-info div {
    border: 1px solid gainsboro;
}*/

.profile-info-left {
    margin-left: 8px;
}

.profile-info-center {
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

.profile-info-name {
    font-size: 24pt;
}

.profile-name-and-follow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.follow-button {
    transition: all .3s ease;
    background-color: rgb(85, 145, 235);
    border: none;
    border-radius: 9%;
    padding: 8px 10px 8px 10px;

    font-size: 12pt;
    color: white;
}

.follow-button:hover {
    cursor: pointer;
    background-color: rgb(113, 161, 233);
}

.profile-follow {
    margin-left: 24px;
}

.profile-info-bio {}

.profile-info-right {
    margin-left: auto;
    margin-right: 8px;
}

.profile-info-stats {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.profile-posts {
    margin-top: 16px;
    padding: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .profile-container {
        width: 100%;
    }
    .profile-posts {
        padding: 0;
        align-items: center;
        flex-direction: column;
    }
    .profile-info-right {
        margin-right: 6px;
    }
    .profile-info-name {
        font-size: 20pt;
    }
    .profile-info-bio {
        font-size: 11pt;
    }
    .profile-info-stats {
        font-size: 10pt;
        text-overflow: clip;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .profile-container {
        width: 536px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .profile-container {
        width: 536px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .profile-container {
        width: 792px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .profile-container {
        width: 1048px;
    }
}